// stylelint-disable declaration-no-important

$button-primary-border-color: $color-sarahilden-gray;
$button-secondary-border-color: $light;

.button {
    border-radius: 0 !important;
    letter-spacing: .04rem;

    &:hover,
    &:focus {
        box-shadow: 0 .125rem .375rem rgba(0, 0, 0, .15);
    }

    &.is-primary {
        border-color: $button-primary-border-color !important;

        &,
        &.is-borderless,
        &:hover,
        &.is-hovered,
        &:focus,
        &.is-focused,
        &:active,
        &.is-active {
            background-color: $primary-invert !important;
            color: $primary !important;
        }

        .icon {
            fill: currentColor !important;
        }

        &:focus,
        &.is-focused {
            border-color: $button-primary-border-color !important;
            outline: .15rem dotted $black !important;
            outline-offset: .25rem !important;
        }

        &:active,
        &.is-active {
            border-color: $button-primary-border-color !important;
            box-shadow: none;

            .icon {
                fill: currentColor !important;
            }

            &:focus,
            &.is-focused {
                outline: .15rem dotted $black !important;
            }

        }
    }

    &.is-secondary {
        border-color: $button-secondary-border-color !important;
        color: $primary-invert !important;
        background-color: $primary !important;

        .icon {
            fill: currentColor !important;
        }

        &:focus,
        &.is-focused {
            border-color: $button-secondary-border-color !important;
            outline: .15rem dotted $black !important;
            outline-offset: .25rem !important;
        }

        &:active,
        &.is-active {
            border-color: $button-secondary-border-color !important;
            box-shadow: none;

            .icon {
                fill: currentColor !important;
            }
        }

        &.is-inverted {
            &:focus,
            &.is-focused {
                outline: .15rem dotted $white !important;
            }
        }
    }

    &.is-small {
        border-radius: 0 !important;
    }

    &.is-rounded {
        border-radius: 50% !important;
    }
}
