.info-group {
    &__label {
        color: $primary;
        font-size: 1rem;
        font-weight: $weight-bold !important;
        text-transform: uppercase;

        .icon {
            fill: $color-sarahilden-gray !important;
        }
    }
}
