.pill {
    padding-bottom: $theme-spacing-quarter;
    border-width: 1px !important;

    &.is-outlined {
        &,
        &:hover,
        &:focus,
        &:active {
            border: 1px solid $primary;
            background-color: $primary-invert !important;
            color: $primary !important;
        }
    }

    &.is-primary {
        &,
        &:hover,
        &:focus,
        &:active {
            border-color: $primary-invert !important;
            background-color: $primary !important;
            color: $primary-invert !important;
        }
    }
}
