.pill {
    padding-bottom: $theme-spacing-quarter;
    border-width: 1px !important;

    &.is-outlined {
        border: 1px solid $primary;

        &:hover,
        &:focus {
            border-color: $primary-invert !important;
            background-color: $primary-invert !important;
            color: $primary !important;
        }
    }

    &.is-primary {
        &:hover,
        &:focus {
            border-color: $primary-invert !important;
            background-color: $primary !important;
            color: $primary-invert !important;
        }
    }
}
