.share-links,
.entry__share-links {
    h2 {
        text-transform: none;
        text-align: center;
        font-weight: 400;
    }
    a,
    a.has-background-accent {
        border: 1px solid $link;

        &:hover,
        &.is-hovered,
        &:focus,
        &.is-focused {
            background-color: $primary-invert !important;

            .icon {
                fill: $primary !important;
            }
        }
    }

    .icon {
        fill: $link !important;
    }
}

.entry__share-links {
    .share-links {
        justify-content: center;
    }
}
