/*
 * Theme Name:  TMS Theme Sara Hilden
 * Description: Tampere Multisite Sara Hilden Theme
 * Version:     1.10.0
 * Author:      Geniem
 * Author URI:  https://geniem.fi
 * Template:    tms-theme-base
 * Text Domain: tms-theme-sara_hilden
 * Domain Path: /lang
 */
