.page-template-page-artwork,
.page-template-page-artist,
.archive {
    .no-results-title {
        font-size: 1rem !important;
        font-weight: $weight-normal !important;
        text-transform: none !important;
    }
}
