.single-artwork {
    .entry {
        &__figure {
            img {
                width: auto;
                max-height: 860px;
            }
        }
    }

    &__artist-links {
        margin: -$theme-spacing-quarter;

        .button {
            margin: $theme-spacing-quarter;
        }
    }
}
