.site-header__nav {
    > .container {
        max-width: 1480px !important;
    }
}

.primary-nav {
    justify-content: flex-start;

    > .navbar-item,
    > .has-dropdown > div > .navbar-link {
        color: $navbar-item-navbar-link-color !important;
        letter-spacing: .05rem;

        &:hover,
        &:focus {
            color: $navbar-item-navbar-link-color !important;
        }
    }

    li {
        text-decoration: none !important;
    }

    .icon {
        fill: #767676 !important;
    }

    .navbar-dropdown-items {
        .navbar-item {
            font-weight: 400;
            background-color: transparent !important;

            .icon {
                width: $theme-spacing-half !important;
                height: $theme-spacing-half !important;
            }
        }
    }
}
