.accordion {
    &__description {
        max-width: none !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    &__row {
        border: .0075rem solid $black;
        border-radius: 0;

        &:hover,
        .is-hover {
            border-color: $black;
        }
    }

    &,
    .has-text-paragraph {
        color: $black !important;
    }

    &__title-button {
        &:focus {
            outline: .15rem dotted $black;
            outline-offset: .25rem;
        }
    }

    a {
        text-decoration: underline;
    }

    .image {
        img {
            width: auto;
            max-height: $image-max-height;
        }
    }
}
