.table {
    background-color: $white;    
}
.tablepress {

     .even td {
        background-color: $light !important;
    }

    .odd td {
        background-color: $white !important;
    }
}

table.idc-element {
    
    &:focus {
        outline: 0.125rem dotted #000;
        outline-offset: -0.125rem;
        position: relative;
    }
}
