.image-carousel__modal-control {
    &.slick-arrow {
        background-color: transparent;
        border:none;
        .icon {
            fill: $white;
        }
    }
}

.modal-content {
    a {
        color: $white;
        text-decoration: underline;

        &:hover {
            color: $white !important;
        }

        &:focus {
            outline-color: $white !important;
        }
    }
}

